html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: block;
  padding: .5rem;
  text-align: center;
}

a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}

.btn {
  font-size: 1.125rem;
  padding: .4em;
}

.btn-small {
  font-size: .875rem;
  padding: .3em;
}

.btn-big {
  font-size: 1.5rem;
  padding: .75em
}

 .btn-primary {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  border: 3px solid #000;
  display: inline-block;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
